<h2 style="text-align: center;">Task Set 7</h2>
<h1 style="text-align: center;">R - Control statements</h1>

#### Wczytanie potrzebnych pakietów

In [1]:
library(gapminder)
library(tidyr)
library(dplyr)
library(nycflights13)

Dołączanie pakietu: 'dplyr'


Następujące obiekty zostały zakryte z 'package:stats':

    filter, lag


Następujące obiekty zostały zakryte z 'package:base':

    intersect, setdiff, setequal, union

# Zadanie 1

Dla zbioru danych flights (nycflights13) wykonaj następujące operacje i przekształcenia:

1. Wyświetl wyłącznie loty do Atlanty (ATL) z lotniska LaGuardia Nowy Jork (LGA)

2. Wyświetl zmienną: tailnum oraz wszystkie zawierające na końcu "time"

3. Oblicz czas lotu i zapisz jako time_in_air, wyświetl tylko informacje o numerze lotu, czasie wylotu i czasie przylotu oraz nowo utworzoną zmienną

4. Wyświetl wyłącznie wiersze 1300 i 1400 z danych

5. Wyświetl numer samolotu (tailnum), lotnisko wylotu oraz lotnisko docelowe dla lotów, których występuje opóźnienie po przylotcie i jest ono minimum dziesięciokrotnie dłuższe niż opóźnienie wylotu

6. Sprawdź czy w danych występują wartości NA dla tailnum. Jeśli występują zapisz wszystkie rekordy z NA do flight_na_tailnum

7. Policz liczbę lotów oraz statystyki dla zmiennej distance: wartość średnia, minimum i maksimum dla lotów wykonanych w poszczególnych miesiącach

8. Wyświetl 3 loty o największym opóźnieniu dla każdego typu samolotu

9. Dla poszczególnych typów samolotów (carrier) oblicz liczbę lotów i średni czas w powietrzu. Następnie wybierz wyłącznie te wyniki do wyświetlenia dla których liczba lotów jest wyższa niż 700 oraz średni czas w powietrzu jest wyższy od 100. Wyniki wyświetl w kolejności malejącej dla liczby lotów

10. Znajdź informacje o funkcji slice_sample a następnie wylosuj 50 obserwacji ze zbioru i zapisz do flights_sample

11. Sprawdź ile unikatowych rekordów jest w danych

12. Wykonaj losowy podzbiór danych składający się z 3 rekordów i zmiennych (tailnum, dest, origin), flight) następnie zmień na postać długą danych (gather)

In [2]:
# 1. Wyświetl wyłącznie loty do Atlanty (ATL) z lotniska LaGuardia Nowy Jork (LGA)
flights1 <- flights %>%
  filter(dest == "ATL" & origin == "LGA")
head(flights1)

# 2. Wyświetl zmienną: tailnum oraz wszystkie zawierające na końcu "time"
flights2 <- flights %>%
  select(tailnum, ends_with("time"))
head(flights2)

# 3. Oblicz czas lotu i zapisz jako time_in_air, wyświetl tylko informacje o numerze lotu, czasie wylotu i czasie przylotu oraz nowo utworzoną zmienną
flights_3 <- flights %>%
  mutate(time_in_air = arr_time - dep_time) %>%
  select(flight, dep_time, arr_time, time_in_air)
head(flights_3)

# 4. Wyświetl wyłącznie wiersze 1300 i 1400 z danych
flights4 <- flights %>%
  slice(c(1300, 1400))
head(flights4)

# 5. Wyświetl numer samolotu (tailnum), lotnisko wylotu oraz lotnisko docelowe dla lotów, których występuje opóźnienie po przylotcie i jest ono minimum dziesięciokrotnie dłuższe niż opóźnienie wylotu
flight5 <- flights %>%
  filter(arr_delay > 10 * dep_delay) %>%
  select(tailnum, origin, dest)
head(flight5)

# 6. Sprawdź czy w danych występują wartości NA dla tailnum. Jeśli występują zapisz wszystkie rekordy z NA do flight_na_tailnum
flight_na_tailnum <- flights %>% 
  filter(is.na(tailnum))
head(flight_na_tailnum)

# 7. Policz liczbę lotów oraz statystyki dla zmiennej distance: wartość średnia, minimum i maksimum dla lotów wykonanych w poszczególnych miesiącach
flights_7 <- flights %>%
  group_by(month) %>%
  summarize(
    number_of_flights = n(),
    ave = mean(distance, na.rm = TRUE),
    min = min(distance, na.rm = TRUE),
    max = max(distance, na.rm = TRUE)
  )
head(flights_7)

# 8. Wyświetl 3 loty o największym opóźnieniu dla każdego typu samolotu
flights8 <- flights %>%
  group_by(carrier) %>%
  arrange(desc(arr_delay)) %>%
  slice_head(n = 3)
head(flights8)

# 9. Dla poszczególnych typów samolotów (carrier) oblicz liczbę lotów i średni czas w powietrzu. Następnie wybierz wyłącznie te wyniki do wyświetlenia dla których liczba lotów jest wyższa niż 700 oraz średni czas w powietrzu jest wyższy od 100. Wyniki wyświetl w kolejności malejącej dla liczby lotów
stats_i <- flights %>%
  group_by(carrier) %>%
  summarize(
    number_flights = n(),
    ave_time = mean(air_time, na.rm = TRUE)
  ) %>%
  filter(number_flights > 700 , ave_time > 100) %>%
  arrange(desc(number_flights))
head(stats_i)

# 10. Znajdź informacje o funkcji slice_sample a następnie wylosuj 50 obserwacji ze zbioru i zapisz do flights_sample
flights_sample <- flights %>%
  slice_sample(n = 50, replace = FALSE)
head(flights_sample)

# 11. Sprawdź ile unikatowych rekordów jest w danych
unique_records <- distinct(flights)
num_unique_records <- nrow(unique_records)
print(num_unique_records)

# 12. Wykonaj losowy podzbiór danych składający się z 3 rekordów i zmiennych (tailnum, dest, origin, flight) następnie zmień na postać długą danych (gather)
flight_12 <- flights %>%
  select(tailnum, dest, origin, flight) %>%
  slice_sample(n = 3) %>%
  pivot_longer(cols = c(tailnum, dest, origin), names_to = "variable", values_to = "value")
head(flight_12)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   554      600            -6         812      837
2 2013 1     1   600      600             0         837      825
3 2013 1     1   658      700            -2         944      939
4 2013 1     1   754      759            -5        1039     1041
5 2013 1     1   814      810             4        1047     1030
6 2013 1     1   830      835            -5        1052     1105
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -25       DL       461   N668DN  LGA    ATL  116      762      6     0
2  12       MQ      4650   N542MQ  LGA    ATL  134      762      6     0
3   5       DL      1547   N6703D  LGA    ATL  126      762      7     0
4  -2       DL      2047   N935DL  LGA    ATL  126      762      7    59
5  17       FL       346   N977AT  LGA    ATL  132      762      8    10
6 -13       MQ      4610   N513MQ  LGA    ATL  123      762      8    35
  time_hour
1 2013-01-01 06:00:00
2 2013-01-01 06:00:00
3 2013-01-01 07:00:00
4 2013-01-01 07:00:00
5 2013-01-01 08:00:00
6 2013-01-01 08:00:00

  tailnum dep_time sched_dep_time arr_time sched_arr_time air_time
1 N14228  517      515             830      819           227
2 N24211  533      529             850      830           227
3 N619AA  542      540             923      850           160
4 N804JB  544      545            1004     1022           183
5 N668DN  554      600             812      837           116
6 N39463  554      558             740      728           150

ERROR: Error: nie znaleziono obiektu 'selected_info'